Meta_Multipage_posting (Web portal)/Multipage_poster_using_ webportal.json
{
  "name": "Multipage poster 2",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "id": "5d8f52fe-d96a-46af-af23-cf73b6ea34b3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/accounts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        -48
      ],
      "id": "1db7dc5f-1ebe-4a01-9112-913f01f2766e",
      "name": "HTTP Request_1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{$json[\"page_id\"]}}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.page_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        -80
      ],
      "id": "fbff5f1f-c0d9-4f23-9474-12407ee395d6",
      "name": "HTTP Request_2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7de8a06f-5224-43b4-8a5d-c6587e7e9baf",
              "name": "page_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e987581f-faf8-4390-950e-12a041cce659",
              "name": "page_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "1eb19dca-a036-4562-8b8e-21bb1f71c773",
              "name": "message",
              "value": "Your message here",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -32
      ],
      "id": "218fc461-e650-42f6-a5aa-0d16baa64e4c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "path": "",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -32
      ],
      "id": "0454507b-d2de-47ba-9c4e-2713554e79b1",
      "name": "Webhook",
      "webhookId": ""
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request_1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": []
}