Automatic_Linkedin_Poster/Automatic_Linkedin_Poster.json
{
  "name": "LinkedIn AI post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "84d7c553-9879-42eb-af6b-fc4776bb10c2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Write a short professional LinkedIn post (~100 tokens) about AI tools. Make sure to remove any \\\\n, \\\\f, or \\\\t characters. Rewrite each post slightly differently to make it unique for every generation. Add the current date and time at the end of the post so that every output is unique and LinkedIn does not detect duplicates. Only provide the post text; do not include any explanations or extra text.\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "8b92d552-dc0c-4629-b5fb-a7a1005a60da",
      "name": "Generate AI Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7bbb104-0cef-4fa2-bf06-e9b9d49b039c",
              "name": "post",
              "value": "={{$json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"] + \" 🕒 \" + (new Date()).toLocaleString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "86c3623b-df14-4902-b5c8-dfe39c4a6171",
      "name": "Format Post"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://example-webhook-url.com/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post",
              "value": "={{$json.post}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "d1bd767c-e048-44bd-a120-7362df7a496d",
      "name": "Send Post"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate AI Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Post": {
      "main": [
        [
          {
            "node": "Format Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Post": {
      "main": [
        [
          {
            "node": "Send Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}